@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  font-family: "Roboto" sans-serif;
}
.logo{
  width: 16.25rem;
}
:root{
  --primary-white: white;
  --primary-orange: #FF5F1F;
  --primary-black: rgba(255,255,255, 0)
}

/* Menu Links */
nav a.nav-link{
font-weight: 500;
letter-spacing: 0.0375rem;
cursor: pointer;

}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav{
  margin-left: auto;
}
.navbar-nav > li > a { 
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}